<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
defineProps({
    kaarel: {
        type: Object,
        default: null,
    }
})

</script>

<template>
        <AuthenticatedLayout>
            <PrimaryButton class="mt-4 text-gray-800"><a :href="route('kaarel')">Kaarel</a></PrimaryButton>
            <PrimaryButton class="mt-4 text-gray-800"><a :href="route('kaur')">kaur</a></PrimaryButton>
            <div v-for="item in kaarel" class="flex justify-center bg-gray-800 content-center ml-5 text-gray-300 max-w-5xl h-56 ml-96 pl-24" :key="item.id">
                    <div class="flex mt-10 bg-gray-900 rounded-xl items-center">
                        <div class="">
                            <img :src="item.image" class="" alt="">
                        </div>
                        <div class=" pr-5 pl-5">
                            <span>{{ item.title }}</span>
                            <br>
                            <span>({{ item.playtime }} HRS)</span>
                            <br>
                            <span>{{ item.description }}</span>
                            <br>
                            <span>{{ item.rating }}/10</span>
                        </div>
                    </div>
                </div>
        </AuthenticatedLayout>
</template>

