<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
const props = defineProps({
    kaur: {
        type: Object,
        default: null,
    }
})
console.log(props.kaur)
</script>

<template>
        <AuthenticatedLayout>
            <PrimaryButton class="mt-4 text-gray-800"><a :href="route('kaarel')">Kaarel</a></PrimaryButton>
            <PrimaryButton class="mt-4 text-gray-800"><a :href="route('kaur')">kaur</a></PrimaryButton>
            <div class="flex flex-col ml-96 pb-24">
                <div v-for="item in kaur" class="flex justify-center bg-gray-800 content-center ml-5 text-gray-300 max-w-5xl" :key="item.id">
                    <div class="flex mt-10 bg-gray-900 rounded-xl items-center">
                        <div class="">
                            <img :src="'storage/' + item.image" class=" w-96 object-cover " alt="">
                        </div>
                        <div class=" pr-5 pl-5 w-1/2">
                            <span>{{ item.name }}</span>
                            <br>
                            <span>{{ item.year }}</span>
                            <br>
                            <span>{{ item.power }}</span>
                            <br>
                            <span>{{ item.description }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </AuthenticatedLayout>
</template>

