<script setup>
    import { useForm } from '@inertiajs/vue3'
    import DangerButton from '../Components/DangerButton.vue';
    import EditForm from './Edit.vue'
    import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';

const props = defineProps({
    markers: {
        type: Object,
        default: () => ({}),
    },
})

console.log(props.markers)
    const form = useForm({
  name: null,
  lat: null,
  lng: null,
  description: null
})

const formDel = useForm({});
function mark(event) {
    form.lat = event.latLng.lat()
    form.lng =event.latLng.lng()
  }

function destroy(id) {
    if (confirm("Are you sure you want to Delete")) {
        formDel.delete(route('maps.destroy', id));
    }
}

</script>

<template>
  <AuthenticatedLayout>
      <GMapMap ref="myMapRef" :center="center" :zoom="10" map-type-id="terrain" style="width: 100%; height: 40rem" @click="mark">
        <GMapMarker :key="marker.id" v-for="marker in markers" :position="{lat:marker.lat, lng:marker.lng}" :clickable="true" :draggable="true"
            @click="openMarker(marker.id)" >
              <GMapInfoWindow
              :closeclick="true"
              @closeclick="openMarker(null)"
              :opened="openedMarkerID === marker.id"
          >
            <div> <span>{{marker.name}}</span>
              <p>{{marker.description}}</p><br>
          </div>
          <DangerButton @click="destroy(marker.id)">DELETE</DangerButton>
          <EditForm :marker = marker></EditForm>
          </GMapInfoWindow>
            </GMapMarker>
      </GMapMap>
      <form class="text-white" @submit.prevent="form.post('/add-marker')"><br>
      <input type="text" v-model="form.name">Name<br>
      <input type="text" v-model="form.lat">Latitude<br>
      <input type="text" v-model="form.lng">Longitude<br>
      <input type="text" v-model="form.description">Description<br>
      <button type="submit" :disabled="form.processing">Submit</button>
    </form>
</AuthenticatedLayout>
  </template>

  <script>
    export default {
    data() {
      return {
        openedMarkerID: null,
        center: { lat: 58.2449205980223, lng: 22.496933575606914 },

      };
    },
    methods: {
      openMarker(id) {
         this.openedMarkerID = id
      },

    }
  };
  </script>