<script setup>
import { useForm } from "@inertiajs/vue3";
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
const form = useForm({
name: null,
description: null,
power: null,
year: null,
image: null,
});
</script>
<template>
<AuthenticatedLayout>
    <PrimaryButton class="mt-4 text-white"><a :href="route('kaarel')">Kaarel</a></PrimaryButton>
    <PrimaryButton class="mt-4 text-white"><a :href="route('kaur')">kaur</a></PrimaryButton>
<div class="bg-gray-800 h-screen flex items-center justify-center">
        <form class="justify-center text-center bg-gray-800" @submit.prevent="form.post(route('motor.store'))">
            <h1 class="pb-5 text-2xl font-bold bg-gray-800 text-white ">Add motor</h1>
            <div class="space-x-6 pb-5">
                <input class="rounded-lg bg-gray-300" type="text" v-model="form.name" placeholder="name"/>
                <input class="rounded-lg bg-gray-300" type="text" v-model="form.description" placeholder="description"/>
                <input class="rounded-lg bg-gray-300" type="text" v-model="form.power" placeholder="power"/>
                <input class="rounded-lg bg-gray-300" type="text" v-model="form.year" placeholder="year"/>
            </div>
            <div class="text-center inline-flex items-center flex-col space-y-5">
                <input class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center shadow-md" type="file" name="image[]" multiple @input="form.image = $event.target.files"/>
                <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center shadow-md" type="submit" :disabled="form.processing">Submit</button>
            </div>    
        </form>
</div>
</AuthenticatedLayout>
</template>
