<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
defineProps({
    weather: {
        type: Object,
        default: null,
    }
})
function timeConverter(UNIX_timestamp){
  var a = new Date(UNIX_timestamp * 1000);
  var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var year = a.getFullYear();
  var month = months[a.getMonth()];
  var date = a.getDate();
  var hour = a.getHours();
  var min = a.getMinutes();
  var sec = a.getSeconds();
  var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
  return time;
}
</script>

<template>
  <AuthenticatedLayout>
<div class="text-1xl font-bold bg-gray-800 text-white h-screen flex items-center justify-center">
<img :src="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" alt="">
Location: {{weather.name}} <br>
Country: {{ weather.sys.country }} <br>
Temperature: {{ weather.main.temp}}°C<br>
Windspeed: {{ weather.wind.speed}}m/s<br>
Time: {{ timeConverter(weather.dt)}}<br>
</div>
</AuthenticatedLayout>
</template>
