<template>
<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="none" viewBox="0 0 160 160">
  <path fill="#FF4136" d="M80 160c44.183 0 80-35.817 80-80S124.183 0 80 0 0 35.817 0 80s35.817 80 80 80Z"/>
  <path fill="#000" d="M40 60c10-10 70-10 80 0-6.667 13.333-20 26.667-40 40-20-13.333-33.333-26.667-40-40Z"/>
  <path fill="#fff" d="M110 110s0-40-30-40-30 40-30 40c10 10 20 16.667 30 20 10-3.333 20-10 30-20Z"/>
  <path fill="#FF4136" d="M80 40c26.667 13.333 35 33.333 25 60-10 13.333-18.333 16.667-25 10-6.667 6.667-15 3.333-25-10-10-26.667-1.667-46.667 25-60Z"/>
  <path stroke="#fff" stroke-width="10" d="M100 105c-13.333 13.333-26.667 13.333-40 0"/>
</svg>
</template>
