<script setup>
import Dropdown from "@/Components/Dropdown.vue";
import InputError from "@/Components/InputError.vue";
import PrimaryButton from "@/Components/PrimaryButton.vue";
import DropdownLink from "@/Components/DropdownLink.vue";
import { useForm } from "@inertiajs/vue3";
import { ref } from "vue";
const props = defineProps(["blog", "comments"]);
const form = useForm({
    message: props.blog.message,
    title: props.blog.title,
});
const commentForm = useForm({
    message: "",
    blog_id: props.blog.id,
});
const editing = ref(false);
console.log(props.comments);
</script>

<template>
    <div class="p-6 flex space-x-2">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 text-gray-600 -scale-x-100"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z"
            />
        </svg>
        <div class="flex-1">
            <div class="flex justify-between items-center">
                <div>
                    <span class="text-gray-800">{{ blog.user.name }}</span>
                    <small class="ml-2 text-sm text-gray-600">{{
                        new Date(blog.created_at).toLocaleString()
                    }}</small>
                    <small
                        v-if="blog.created_at !== blog.updated_at"
                        class="text-sm text-gray-600"
                    >
                        &middot; edited</small
                    >
                </div>
                <Dropdown v-if="$page.props.auth.user.role == 'admin'">
                    <template #trigger>
                        <button>
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-4 w-4 text-gray-400"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                            >
                                <path
                                    d="M6 10a2 2 0 11-4 0 2 2 0 014 0zM12 10a2 2 0 11-4 0 2 2 0 014 0zM16 12a2 2 0 100-4 2 2 0 000 4z"
                                />
                            </svg>
                        </button>
                    </template>
                    <template #content>
                        <button
                            class="block w-full px-4 py-2 text-left text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:bg-gray-100 transition duration-150 ease-in-out"
                            @click="editing = true"
                        >
                            Edit
                        </button>
                        <DropdownLink
                            as="button"
                            :href="route('blog.destroy', blog.id)"
                            method="delete"
                        >
                            Delete
                        </DropdownLink>
                    </template>
                </Dropdown>
            </div>
            <form
                v-if="editing"
                @submit.prevent="
                    form.put(route('blog.update', blog.id), {
                        onSuccess: () => (editing = false),
                    })
                "
            >
                <input
                    v-model="form.title"
                    type="text"
                    class="mt-4 w-full text-gray-900 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                />
                <textarea
                    v-model="form.description"
                    class="mt-4 w-full text-gray-900 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                ></textarea>
                <InputError :message="form.errors.message" class="mt-2" />
                <div class="space-x-2">
                    <PrimaryButton class="mt-4">Save</PrimaryButton>
                    <button
                        class="mt-4"
                        @click="
                            editing = false;
                            form.reset();
                            form.clearErrors();
                        "
                    >
                        Cancel
                    </button>
                </div>
            </form>
            <div v-else>
                <span class="mt-4 text-lg text-gray-900">{{ blog.title }}</span>
                <p class="mt-4 text-lg text-gray-900">{{ blog.message }}</p>
            </div>
            <form
                @submit.prevent="
                    commentForm.post(route('comments.store'), {
                        onSuccess: () => form.reset(),
                    })
                "
            >
                <textarea
                    v-model="commentForm.message"
                    placeholder="What would you like to comment?"
                    class="block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm"
                ></textarea>
                <PrimaryButton class="mt-4">Comment</PrimaryButton>
            </form>
            <div v-for="comment in comments" :key="comment.id">
                <div class="mt-3" v-if="blog.id == comment.blog_id">
                    <Dropdown
                        v-if="$page.props.auth.user.role == 'admin'"
                    >
                        <template #trigger>
                            <div class="flex justify-end">
                                <button class="text-gray-400">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
</svg>


                                </button>
                            </div>
                        </template>
                        <template #content>
                            <DropdownLink
                                as="button"
                                :href="route('comments.destroy', comment.id)"
                                method="delete"
                            >
                                Delete
                            </DropdownLink>
                        </template>
                    </Dropdown>
                    <span>{{ comment.user.name }}</span>
                    <p>{{ comment.message }}</p>
                </div>
            </div>
        </div>
    </div>
</template>
