<template>
    <div>
      <!-- Display motors -->
      <h1>motors</h1>
      <ul>
        <li v-for="motor in motors" :key="motor.id">
          <h2>{{ motor.name }}</h2>
          <p>{{ motor.description }}</p>
          <img :src="motor.image" alt="motor Image">
          <p>Power: {{ motor.power }}</p>
          <p>year: {{ motor.year }}</p>
        </li>
      </ul>
  
      <!-- Add a new motor form -->
      <h1>Add New motor</h1>
      <form @submit.prevent="addmotor">
        <input type="text" v-model="newmotor.title" placeholder="Title" required>
        <input type="text" v-model="newmotor.description" placeholder="Description" required>
        <input type="text" v-model="newmotor.image" placeholder="Image URL" required>
        <input type="number" v-model="newmotor.power" placeholder="Power" required>
        <input type="text" v-model="newmotor.drivetrain" placeholder="Drivetrain" required>
        <button type="submit">Add motor</button>
      </form>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        motors: [], // Array to store motors
        newmotor: { // Object to store new motor form data
          title: '',
          description: '',
          image: '',
          power: '',
          drivetrain: ''
        }
      };
    },
    methods: {
      // Fetch motors from API
      async fetchmotors() {
        try {
          const response = await axios.get('/api/motors'); // Update the API endpoint to match your Laravel route
          this.motors = response.data;
        } catch (error) {
          console.error(error);
        }
      },
      // Add new motor
      async addmotor() {
        try {
          const response = await axios.post('/api/motors', this.newmotor); // Update the API endpoint to match your Laravel route
          this.motors.push(response.data);
          this.newmotor = { // Reset new motor form data
            title: '',
            description: '',
            image: '',
            power: '',
            drivetrain: ''
          };
        } catch (error) {
          console.error(error);
        }
      }
    },
    mounted() {
      this.fetchmotors(); // Fetch motors when the component is mounted
    }
  };
  </script>
  
  <style scoped>
  /* Your component styles here */
  </style>
  